/* CSS Document */
html,body{
    height:100%;
    margin:0px;
}
.button {
         box-sizing: border-box;
         color: white;
         padding: 15px 32px;
         width:49%;
         
         text-align: center;
         text-decoration: none;
         /* margin: 5%; */
         cursor: pointer;
         border:2px solid blue;
         /* float:left; */
         }
.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
.mainInputBox{
    box-sizing: border-box; 
    padding: 15px 32px;
    width:49%;
    height: auto;
    /* margin:5%; */
    border:2px solid blue;
    /* float:left; */
    
}
.mainBody{
	text-align: center
}
.mainWindow{
    text-align: center;
    height: 80%;
	
}
.userInput{
    
    /* padding:10px; */
    /* margin: auto; */
    margin: auto;
    position:absolute;
    top:90%;
    left:50%;
    transform:translate(-50%, -50%);
    background:black;
    cursor:pointer;
    font-size:14px;
    /* border:1px solid white; */
	
}
body script {
        }




#badge{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 92px;
}


a:link, a:hover, a:visited, a:active{
    color:white;
    text-decoration: none;
}
.experiment-url{
    position:absolute;
    bottom:10px;
    right:10px;
    padding:8px;
    z-index: 1;
    font-size: 11px;
    background:black;
    letter-spacing:0.5px;
    border: 1px solid white;
}