/* CSS Document */
html,body{
    height:100%;
    margin:0px;
}
.button {
         box-sizing: border-box;
         color: white;
         padding: 15px 32px;
         width:45%;
         
         text-align: center;
         text-decoration: none;
         /* margin: 5%; */
         cursor: pointer;
         border:2px solid blue;
         /* float:left; */
         }
.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
.mainInputBox{
    box-sizing: border-box; 
    padding: 15px 32px;
    width:45%;
    height: auto;
    /* margin:5%; */
    border:2px solid blue;
    /* float:left; */
    
}
.mainBody{
	text-align: center
}
.mainWindow{
    text-align: center;
    height: 80%;
	
}
.userInput{
    align-items: center;
	
}
body script {
		}